.md-nav__link {
    margin: .0em;
    white-space: nowrap;
}
.md-typeset h3{
    margin: 0 0 0 0;
    line-height: 1;
}
.md-typeset hr{
    margin: 0.5 0 0 0.5;
    line-height: 1;
}
.md-typeset{
    font-size: .7rem;
    line-height: 1;
}
.md-content {
  max-width: 100ch;
}
p {
  max-width: 100ch;
}
pre {
  max-width: 100ch;
}
.md-sidebar {
  width:auto; 
}
.md-nav__title[for=__toc]{
  height:0;
}
.md-main {
    margin: 0 auto;
    width: auto;
    max-width: fit-content;
}
.md-header-nav{
  max-width: 47rem;
}
.md-sidebar__scrollwrap::-webkit-scrollbar {
    width: 0px; 
    background: transparent;  
}
:root {
  --md-primary-fg-color:        #000000;
  --md-primary-fg-color--dark:  #444444;
  --md-primary-fg-color--light: #5fbcd3;
  --md-accent-fg-color: #5fbcd3;
}
.md-typeset .md-button {
    display: inline;
    float:right;
    padding: 0.25em;
    font-weight: 500;
    border: 0.01rem solid currentColor;
    transition: color 125ms,background-color 125ms,border-color 125ms;
}
.label:after{
    content:'?';
}
.label:hover:after{
    content:'ASK A QUESTION';
}